<div class="article_page">
<div class="article_head">
<h1><%= @article.title %></h1>
<% if logged_in? %>
<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"}, class: "panel" %>
<%= link_to "edit", edit_article_path(@article), class: "panel" %>
<% end %>
</div>
<br>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<br>
<p>
  <% if @article.image.exists? %>
      <%= image_tag @article.image.url, class: "article_image" %><br/>
  <% end %>
</p>
<p class= "article_content" ><%= @article.body %></p>
</div>
<div class="comments_panel">
<%= render partial: 'comments/form' %>
</div>
<div class="comments_view">
<h3>Comments (<%= @article.comments.size %>)</h3><br>
<%= render partial: 'articles/comment', collection: @article.comments %>
</div>
