<% if author.errors.any? %>
  <div id="error_explanation">
    <ul class= "alert alert-warning">
     <% author.errors.full_messages.each do |message| %>
     <li><%= message %></li>
     <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(author) do |f| %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username , placeholder: "USERNAME"%>
  </div>
<br>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email ,  placeholder: "EMAIL" %>
  </div>
<br>
<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "PASSWORD" %>
</div>
<div class="field">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, placeholder: "CONFIRM PASSWORD" %>
</div>
<br>
  <div class="actions">
    <%= f.submit "Signup" %>
  </div>
<% end %>
